<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
</head>
<body>
    <h2> Users</h2>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>FullName</th>
          </tr>
          <tr>
            <td>Michael</td>
            <td>Choi</td>
            <td>Michael Choi</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Supsupin</td>
            <td>John Supsupin </td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Guillen</td>
            <td> Mark Guillen </td>
          </tr>
          <tr>
            <td>KB</td>
            <td>Tonel</td>
            <td>KB Tonel </td>
          </tr>
        </table>
  
   

</body>
</html>